<div id="user_list_item_<%= player.id %>">
  [
  <span>
    <%= player.first_name.concat(' ',player.last_name) %>
  </span>
  ] : <img class="size-7 inline" src="/images/uno_hand.png" />
  <p class="inline"><%= player.cardCount %></p>
</div>
